*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Project exclude paths
/gradle-build/
/gradle-build/AlivcMedia/intermediates/javac/debug/classes/
/gradle-build/AliyunCrop/crop/intermediates/javac/debug/classes/
/gradle-build/AliyunEditor/intermediates/javac/debug/classes/
/gradle-build/AliyunFileDownLoader/intermediates/javac/debug/classes/
/gradle-build/AliyunRecorder/record/intermediates/javac/debug/classes/
/gradle-build/AliyunSVideoBase/intermediates/javac/debug/classes/
/gradle-build/AliyunSvideoMusic/intermediates/javac/debug/classes/
/gradle-build/AliyunVideoCommon/intermediates/javac/debug/classes/
/gradle-build/app/intermediates/javac/debug/classes/
/release/
/debug/
/gradle/wrapper/*.rar